.headtext {
    font-family: var(--font-base);
    font-weight: var(--black-text);
    font-style: normal;
    color: var(--white-color);
}

.paragraph {
    font-family: var(--font-base);
    font-weight: var(--bold-text);
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.subtitle {
    font-family: var(--font-base);
    font-weight: var(--light-text);
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    color: #B5B5B5;
}

.custom__button {
    border-radius: 75px;
    font-family: var(--font-base);
    font-style: normal;
    font-weight: var(--black-text);
    font-size: 14px;
    line-height: 17px;
    padding: .4rem 1rem;
    border: 1px solid white;
    transition: .3s;
}

.custom__icon {
    width: 14px;
    height: 14px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}